.product {
  --flex-items: 4;
  --flex-gap: 10px;
  width: calc((100%/var(--flex-items) - (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap))));
  font-size: 13px;
  line-height: 1.2;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}

.product:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
}

.product:hover .image img {
  scale: 1.1;
}

.product-cnt {
  padding: 20px 12px;
}

.product .heading {
  font-size: 14px;
}

.product strong {
  font-weight: bold;
}

.product p {
  padding-bottom: 8px;
}

.product .image {
  max-width: 100%;
  height: 180px;
  position: relative;
  overflow: hidden;
}

.product .image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transition: all 0.3s;
}

@media screen and (max-width: 1200px) {
  .product .image {
    height: 120px;
  }
}

@media screen and (max-width: 1024px) {
  .product {
    --flex-items: 2;
  }
  .product .image {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .product .image {
    height: 120px;
  }
}

@media screen and (max-width: 500px) {
  .product {
    --flex-items: 1;
  }

  .product .image {
    height: 180px;
  }
}
